.container{
    background-color: lightblue;
}
div{
    height: 100px;
    width: 100px;
    background-color: lightsalmon;
}
#first{
    background-color: forestgreen;
}
#second{
    background-color: greenyellow;
    position: fixed;
    left: 100px;

}
#third{
    background-color: hotpink;

}
.name{
    color: darkgoldenrod !important;
}
h1{
    color: cyan !important;
}
#obama{
    color: darkgreen;
}
