body{
    background-color: pink;
    text-align: center;
}
h1{
    background-color: salmon;
    height:45px;



}
p{
    color: rgba(223, 4, 4, 0.842);
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
img{
    width: 80%;
}
#murgi{
    font-size: 30px;
    font-style: initials;
}
.fnd{
    background-color: lawngreen;

}
h1.fnd{
    background-color: maroon;
}
.best{
    background-color: midnightblue;
}
.bdt{
    background-color: palevioletred;
    font-style: initial;
}
.blog{
    border: 5px solid black;
    border-radius: 20px;
    margin: 1%;
    width: 30%;
    display: inline-block;
    
}
.bes{
    border: 5px solid black;
    border-radius: 20px;
    margin-bottom: 60px;
}
h4{
    color: indianred;
}
h4:hover{
    color: greenyellow;
    background-color: goldenrod;
    font-size: 25px;
}
.spcl:hover{
    color: red;
    background-color: saddlebrown;
    font-size: 20px;
}